html, body {
  margin:0; 
  padding:0;
  width:100%; 
  height:100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
	font-family: "AbhayaLibre-ExtraBold";
	src: url(./fonts/AbhayaLibre-ExtraBold.ttf);
}

@font-face {
	font-family: "AbhayaLibre-SemiBold";
	src: url(./fonts/AbhayaLibre-SemiBold.ttf);
}

@font-face {
  font-family: "AbhayaLibre-Medium";
  src: url(./fonts/AbhayaLibre-SemiBold.ttf);
}

@font-face {
    font-family: 'KoPub돋움체 Bold';
    src: url(./fonts/KoPub_Dotum_Bold.ttf);
}

@font-face {
  font-family: 'Arimo-Medium';
  src: url(./fonts/Arimo-Medium.ttf);
}

:root {
	--font-AbhayaLibre-ExtraBold: "AbhayaLibre-ExtraBold";
  --font-AbhayaLibre-SemiBold: "AbhayaLibre-SemiBold";
  --font-AbhayaLibre-Medium: "AbhayaLibre-Medium";
  --font-KoPub-Dotum-Bold: "KoPub돋움체 Bold";
  --font-Arimo-Medium: "Arimo-Medium";
}

