.List{
    display: block;
    position: absolute;
    width: 420px;
    height: 697px;
    top: 15%;
    left: 20%;
    border: 1px;
}

.bucketlist_title{
    position: absolute;
    display: block;
    width: 289px;
    height: 47px;
    top: 0px;
    left: 0px;
    font-family: 'AbhayaLibre-ExtraBold';
    font-size: 40px;
}

.list_underline{
    position: absolute;
    width: 420px;
    height: 1px;
    top: 64px;
    left: 0px;
    background-color: black;
}

.list_type{
    position: absolute;
    display: block;
    width: 420px;
    height: 607px;
    top: 90px;
    left: 0px;
    font-family: "AbhayaLibre-SemiBold";
    font-size: 15px;
}

.list_checkbox{
    position: absolute;
    top: 90px;
    left: 785px;
    accent-color: black;
}

.Detail{
    display: block;
    position: absolute;
    width: 735px;
    height: 433px;
    top: 15%;
    left: 50%;
    border: 1px;
}

.div_fontsize{
    position: absolute;
    display: inline;
    height: 29px;
    width: 160px;
    top: 0px;
    left: 0px;
    font-family: 'AbhayaLibre-ExtraBold';
    font-size: 40px;
}

.div_Setting{
    position: absolute;
    display: inline;
    float: right;
    width: 192px;
    height: 45px;
    top: 10px;
    left: 543px;
    border: 1px;
    border-radius: 9px;
    border-style: solid;
}

.p_Setting{
    position: absolute;
    width: 84px;
    height: 18px;
    top: 15px;
    left: 11px;
    font-family: 'AbhayaLibre-ExtraBold';
    font-size: 15px;
}

.Private{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 15px;
    left: 110px;
    accent-color: black;
}

.p_Private{
    position: absolute;
    width: 42px;
    height: 12px;
    top: 15px;
    left: 128px;
    font-family: 'AbhayaLibre-ExtraBold';
    font-size: 10px;
}

.Content{
    position: absolute;
    display: block;
    width: 735px;
    height: 369px;
    top:69px;
    left:0px;
    border: 1px;
    border-radius: 9px;
    border-style: solid;
}

.Title{
    position: absolute;
    width: 240px;
    height: 29px;
    top: 42px;
    left: 95px;
    font-family: 'AbhayaLibre-ExtraBold';
    font-size: 24px;
    border: none;
}

.Heart{
    position: absolute;
    top: 15%;
    left: 70%;
    width: 30px;
    height: 20px;
    border: none;
    background: url("../img/Heart.png");
}

.Heart{
    position: absolute;
    top: 10%;
    left: 80%;
    width: 25px;
    height: 20px;
    background-image: url(../img/Heart.png);
    border: none;
}

.title_underline{
    position: absolute;
    width: 622px;
    height: 1px;
    top: 90px;
    left: 50px;
    background-color: black;
}

.HashTag{
    position: absolute;
    width: 612px;
    top: 108px;
    left: 64px;
    font-weight: bold;
    font-size: 13px;
    border: none;
    resize: none;
    overflow: hidden;
}

.Textarea{
    position: absolute;
    width: 632px;
    top: 140px;
    left: 48px;
    font-family: "AbhayaLibre-Medium";
    font-size: 13px;
    border: none;
    resize: none;
    overflow: hidden;
}
