@font-face {
    font-family: Arimo;
    src: url("../fonts/KoPub_Dotum_Pro_Bold.otf");
  }
ul,li {
    list-style: none;
        }

.Board{
    position:absolute;
    top: 1070px;
    transform: translate( -50%, -50%); 
    left: 50%;
}
table {
    width: 1350px;
    height: 500px;
    border-collapse: collapse;
}
table th {
    position: relative;
    padding: 14px 21px;
    background: #F3F3F3;
    color: black;
    font-size: 15px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #ddd;
    text-align: center;
}
table td {
    padding: 14px 21px;
    color: #666;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 15px;
    
}
 table tr:hover {
    background: #eee;
    cursor: pointer;
}
.subject {
    width: 45%;
    text-align: center;
}
.paging {
    position: relative;
    left: 20%;
    padding: 20px 0;
    width: 800px;
    border-style: none;
    background-color: white;
    font-family: Arimo;
}
.paging>ul {
    display: flex;
    justify-content: center;
}
.paging>ul>li {
    padding: 8px;
    background: white;
    border: 1px solid white;
    font-size: 15px;
    margin-left: 10px;
    border:none;
}
.paging>ul>li:hover {
    cursor: pointer;
    background: white;
    color: blue;
}
.active {
    color:  #7000D8 !important;
    /* color: #fff; */
}
.L_write_btn{
    position: absolute;
    width: 116px;
    height: 38px;
    left: 90%;
    border-radius: 6px;
    background-color: #333;
    color: white;
    font-size: 14px;
}
.Lcard-write{
    position: relative;
    width: 700px;
    height: 400px;
    background: #fff;
    left: 50%;
    top: 500px;
    transform: translate( -50%, -50%); 
    border: 3px solid gray;
    border-radius: 30px 30px;
    font-size:18px;
    font-family: 'KoPub돋움체 Bold';
}
.c_title{
    position: relative;
    top:45px;
    left: 55px;
}
.c_title input{
    width:500px;
    border: 1px solid gray;
    border-radius: 10px 10px;
}
.c_hashtag{
    position: relative;
    top: 55px;
    left: 22px;
}
.c_hashtag input{
    width: 350px;
    border: 1px solid gray;
    border-radius: 10px 10px;
}
.c_group{
    position: relative;
    top: 25px;
    left: 460px;
}
.c_group input{
    width: 30px;
    border: 1px solid gray;
    border-radius: 10px 10px;
    text-align: center;
}
.c_textarea{
    position: relative;
    border: 1px solid gray;
    border-radius: 10px 10px;
    top:80px;
    left: 90px;
    height: 200px;
    width: 520px;
    text-align: center;
    white-space: normal;
}
.submitbtn{
    position: relative;
    width: 116px;
    height: 38px;
    transform: translate( -50%, -50%); 
    left: 50%;
    top: 320px;
    border-radius: 6px;
    background-color: #333;
    color: white;
    font-size: 14px;
}
#show-card{
    position: relative;
    top: 320px;
    width: 600px;
    height: 550px;
    left: 50%;
    transform: translate( -50%, -50%); 
    border: 2px solid gray;
    border-radius: 10px 10px;
}
#showTable{
    position: absolute;
    top:20px;
    width: 400px;
    font-size: 20px;
    margin-left: 10%;
}
#modal{
    position:absolute;
    /* top: 100px; */
    /* transform: translate( -50%, -50%); */
    width: 900px;
    height: 700px;
    overflow: hidden;
    
}
#show-title{
    font-family: 'KoPub돋움체 Bold';
    font-size: 27px;
    text-align: center;
}