.Lifemap {
    position: absolute;
    width: 155px;
    height: 47px;
    top: 48px;
    left: 15%;
    font-size: 40px;
    color:black;
    font-weight: 800;
    text-decoration: none;
    font-family: var(--font-AbhayaLibre-ExtraBold);
  }

  .Purple {
    color:#7000D8;
  }
  
  .Question {
    position: absolute;
    width: 116px;
    height: 29px;
    top: 57px;
    left: 30%;
    color:black;
    font-size: 25px;
    text-decoration: none;
    font-family: var(--font-AbhayaLibre-ExtraBold);
  }
  
  .Bucketlist {
    position: absolute;
    width: 143px;
    height: 29px;
    top: 57px;
    left: 40%;
    color:black;
    font-size: 25px;
    text-decoration: none;
    font-family: var(--font-AbhayaLibre-ExtraBold);
  }
  
  .Community {
    position: absolute;
    width: 140px;
    height: 29px;
    top: 57px;
    left: 50%;
    color:black;
    font-size: 25px;
    text-decoration: none;
    font-family: var(--font-AbhayaLibre-ExtraBold);
  }
  
  .Signin {
    position: absolute;
    width: 116px;
    height: 38px;
    top: 52px;
    left: 70%;
    color: #FFFFFF;
    background-color: #333333;
    border-radius:6px;
    font-family: var(--font-AbhayaLibre-ExtraBold);
  }

  .Signup {
    position: absolute;
    width: 116px;
    height: 38px;
    top: 52px;
    left: 78%;
    background-color: #333333;
    border-radius:6px;
    color: white;
    font-family: var(--font-AbhayaLibre-ExtraBold);
  }

  .Mypage {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 40px;
    left: 75%;
    color: #FFFFFF;
    background-color: white;
    border-radius:6px;
    font-family: var(--font-AbhayaLibre-ExtraBold);
  }

  .Navbar{
    position: absolute;
    height:130px;
    width:100%;
    background-color: white;
  }

  .Navbar a {
    text-decoration: none;
    color: black;
    padding: 8px 16px;
  }
  
  .Navbar a:hover,
  .Navbar a.selected {
    color:#7000D8;
  }
  