@font-face {
    font-family: nav;
    src: url("../fonts/KoPub_Dotum_Pro_Bold.otf");
}
.Bucket_Community{
    font-family: nav;
    color: #7000D8;
    position:absolute;
    width:96px;
    height: 24px;
    top:28px;
    left: 20%;
    font-size: 20px;
    text-align:center;
    text-decoration: none;
}
.Lounge_Community{
    font-family: nav;
    color: #000;
    position:absolute;
    width:56px;
    height: 24px;
    top:28px;
    left: 49%;
    font-size: 20px;
    text-align:center;
    text-decoration: none;
}
.Together_Community{
    font-family: nav;
    color: #000;
    position:absolute;
    width:74px;
    height: 24px;
    top:28px;
    left: 75%;
    font-size: 20px;
    text-align:end;
    text-decoration: none;
}
.NavBar_Commnunity {
    top: 130px;
    position: relative;
}
.navbar_nav{
    list-style:none;
    display: flex;
    width: 100%;
    height: 78px;
    padding: 28px 603px 26px 581px;
    align-items: flex-start;
    gap: 255px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
