.Sign-bg{
  position: absolute;
    background-image: url(/src/img/배경.png);
    min-height: 894px;
    width: 1920px;
    top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
  }

  .signUp-box{
    width: 570px;
    height: 560px;
    top: 297px;
    left: 675px;
    border-radius: 17px;
    background-color: black;
  }

  .signUp-box-title{
    position: absolute;
    width: 151px;
    height: 47px;
    top: 208px;
    left: 885px;
    color: white;
    font-size: 40px;
    font-weight: 800;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    font-family: var(--font-AbhayaLibre-ExtraBold);
  }

  .signUp-box-button{
    position: absolute;
    width: 397px;
    height: 40px;
    top: 620px;
    left: 762px;
    color:white;
    background-color: #7000D8;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    font-family: var(--font-AbhayaLibre-ExtraBold);
  }

  .signUp-box-alert {
    position: absolute;
    width: 400px;
    height: 20px;
    top: 250px;
    left: 763px;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: red;
  }

  .signUp-box-id{
    position: absolute;
    width: 18px;
    height: 20px;
    top: 282px;
    left: 763px;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
  }

  .signUp-box-id-input{
    position: absolute;
    width: 397px;
    height: 40px;
    top: 307px;
    left: 762px;
    border-radius: 6px;
    color: #171717;
    background-color: #767676;
  }

  .signUp-box-id-alert {
    position: absolute;
    width: 300px;
    height: 20px;
    top: 352px;
    left: 763px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: red;
  }

  .signUp-box-id-ok {
    position: absolute;
    width: 300px;
    height: 20px;
    top: 352px;
    left: 763px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: green;
  }

  .signUp-box-id-input::placeholder{
    color:#171717;
  }

  .signUp-box-password{
    position: absolute;
    width: 98px;
    height: 20px;
    top: 388px;
    left: 763px;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
  }

  .signUp-box-password-input{
    position: absolute;
    width: 397px;
    height: 40px;
    top: 413px;
    left: 762px;
    border-radius: 6px;
    color: #171717;
    background-color: #767676;
  }

  .signUp-box-password-input::placeholder{
    color:#171717;
  }

  .signUp-box-password-alert{
    position: absolute;
    width: 500px;
    height: 20px;
    top: 458px;
    left: 763px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: red;
  }

  .signUp-box-password-ok{
    position: absolute;
    width: 500px;
    height: 20px;
    top: 458px;
    left: 763px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: green;
  }

  .signUp-box-confirm{
    position: absolute;
    width: 500px;
    height: 20px;
    top: 494px;
    left: 763px;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
  }

  .signUp-box-confirm-input{
    position: absolute;
    width: 397px;
    height: 40px;
    top: 519px;
    left: 762px;
    border-radius: 6px;
    color: #171717;
    background-color: #767676;
  }

  .signUp-box-confirm-input::placeholder{
    color:#171717;
  }

  .signUp-box-confirm-alert{
    position: absolute;
    width: 500px;
    height: 20px;
    top: 564px;
    left: 763px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: red;
  }

  .signUp-box-confirm-ok{
    position: absolute;
    width: 500px;
    height: 20px;
    top: 564px;
    left: 763px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: green;
  }