.Sign-bg{
  position: absolute;
    background-image: url(/src/img/배경.png);
    min-height: 894px;
    width: 100%;
    max-width: 100%;
    top: 130px;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
  }

  .signUp-box{
    position: absolute;
    width: 570px;
    height: 560px;
    top: 390px;
    left: 50%;
    transform: translate( -50%, -50%);
    border-radius: 17px;
    background-color: black;
  }

  .signUp-box-title{
    position: absolute;
    width: 151px;
    height: 47px;
    top: 65px;
    left: 50%;
    transform: translate( -50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: 800;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    font-family: var(--font-AbhayaLibre-ExtraBold);
  }

  .signUp-box-alert {
    position: absolute;
    width: 400px;
    height: 20px;
    top: 95px;
    left: 50%;
    transform: translate( -50%, -50%);
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: red;
  }


  .signUp-box-button{
    position: absolute;
    width: 397px;
    height: 40px;
    top: 500px;
    left: 50%;
    transform: translate( -50%, -50%);
    color:white;
    background-color: #7000D8;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    font-family: var(--font-AbhayaLibre-ExtraBold);
  }

  .signUp-box-id{
    position: absolute;
    width: 18px;
    height: 20px;
    top: 128px;
    left: 18%;
    transform: translate( -50%, -50%);
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
  }

  .signUp-box-id-input{
    position: absolute;
    width: 397px;
    height: 40px;
    top: 165px;
    left: 50%;
    transform: translate( -50%, -50%);
    border-radius: 6px;
    color: #171717;
    background-color: #767676;
  }

  .signUp-box-id-alert {
    position: absolute;
    width: 300px;
    height: 20px;
    top: 203px;
    left: 42%;
    transform: translate( -50%, -50%);
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: red;
  }

  .signUp-box-id-ok {
    position: absolute;
    width: 300px;
    height: 20px;
    top: 352px;
    left: 763px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: green;
  }

  .signUp-box-id-input::placeholder{
    color:#171717;
  }

  .signUp-box-password{
    position: absolute;
    width: 98px;
    height: 20px;
    top: 240px;
    left: 25%;
    transform: translate( -50%, -50%);
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
  }

  .signUp-box-password-input{
    position: absolute;
    width: 397px;
    height: 40px;
    top: 277px;
    left: 50%;
    transform: translate( -50%, -50%);
    border-radius: 6px;
    color: #171717;
    background-color: #767676;
  }

  .signUp-box-password-input::placeholder{
    color:#171717;
  }

  .signUp-box-password-alert{
    position: absolute;
    width: 500px;
    height: 20px;
    top: 317px;
    left: 59.5%;
    transform: translate( -50%, -50%);
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: red;
  }

  .signUp-box-password-ok{
    position: absolute;
    width: 500px;
    height: 20px;
    top: 458px;
    left: 763px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: green;
  }

  .signUp-box-confirm{
    position: absolute;
    width: 500px;
    height: 20px;
    top: 352px;
    left: 60%;
    transform: translate( -50%, -50%);
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
  }

  .signUp-box-confirm-input{
    position: absolute;
    width: 397px;
    height: 40px;
    top: 389px;
    left: 50%;
    transform: translate( -50%, -50%);
    border-radius: 6px;
    color: #171717;
    background-color: #767676;
  }

  .signUp-box-confirm-input::placeholder{
    color:#171717;
  }

  .signUp-box-confirm-alert{
    position: absolute;
    width: 500px;
    height: 20px;
    top: 415px;
    left: 16%;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: red;
  }

  .signUp-box-confirm-ok{
    position: absolute;
    width: 500px;
    height: 20px;
    top: 564px;
    left: 763px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: green;
  }